/* src/components/ProyectoCard.css */
.proyecto-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex; /* Hacemos la tarjeta un contenedor flex */
    flex-direction: column; /* Apilamos los elementos verticalmente */
    justify-content: space-between; /* Empuja el botón al final si hay espacio */
    height: auto; /* Asegúrate de que la altura se ajuste al contenido */
    min-height: 450px; /* Puedes establecer una altura mínima para que las tarjetas se vean uniformes */
    max-width: 350px; /* Ajusta este ancho para que se vean 3 por fila en el carrusel */
    margin: 0 auto; /* Centra la tarjeta si el ancho es menor que el contenedor */
}


.carousel-container h2 {
    text-align: center; /* Esta línea centrará el texto */
    margin-bottom: 30px;
    font-size: 2.5em;
    font-weight: 700;
}

.proyecto-imagen {
    width: 100%;
    max-height: 180px; /* Ajusta la altura de la imagen para que no ocupe tanto espacio */
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 15px;
}

.proyecto-contenido {
    flex-grow: 1; /* Permite que este div ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido al inicio */
}

.proyecto-contenido h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.4em;
}

.proyecto-contenido p {
    color: #666;
    margin-bottom: 15px;
    line-height: 1.5;
    flex-grow: 1; /* Permite que la descripción crezca si el texto es largo */
}

.proyecto-contenido h4 {
    color: #555;
    margin-top: 15px; /* Reduce el margen superior */
    margin-bottom: 5px;
    text-align: left; /* Alinea "Detalles:" a la izquierda */
}

.proyecto-contenido ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px; /* Reduce el margen inferior */
    text-align: left; /* Alinea los ítems de la lista a la izquierda */
    flex-grow: 1; /* Permite que la lista crezca si hay muchos detalles */
}

.proyecto-contenido ul li {
    background-color: #eef;
    margin: 4px 0; /* Reduce el margen vertical */
    padding: 6px 10px; /* Ajusta el padding */
    border-radius: 4px;
    color: #444;
    font-size: 0.9em; /* Reduce el tamaño de fuente */
}

.boton-repositorio {
    display: inline-block;
    background-color: #007bff; /* Color azul */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 15px; /* Añade un margen superior para separarlo de los detalles */
}

.boton-repositorio:hover {
    background-color: #0056b3;
}